{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Tracking a civil appeal case</h1>

      <p>
        This service allow you to search for information on applications or appeals in the Court of Appeal, Civil Division.
      </p>

      <p>
        For confirmation of the judges hearing your case, the time and location
        of the hearing, please check the Daily List from 14:30 the working day
        before your case is due to be heard, or call the Listing Office.
      </p>
      <p>
        Information is provided in good faith for the convenience of court users
        and others. Whilst we endeavour to ensure that the information is correct,
        listing dates and constitutions in particular are subject to change.
      </p>
    </div>
    <div class="column-one-third sidebar">
      <a href="search" class="button button-start" role="button">Start searching</a>
    </div>
  </div>
</main>

{% endblock %}
